/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: none;
  background: #d9d9d9;
}

.ant-spin-nested-loading,
.ant-spin-container {
  height: 100%;
}
.playlist-drawer .ant-table-wrapper .ant-table-tbody > tr.ant-table-row:hover > td {
  background: #f5f5dc !important;
}

.playlist-drawer .ant-drawer-body {
  padding: 0 !important;
}

.playlist-drawer .ant-drawer-header {
  padding: 8px 12px !important;
}
.lyric-drawer .ant-drawer-header {
  display: none;
}

.category-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
}

/* 让每个 a-radio-button 变成独立按钮，而不是连在一起 */
.category-nav .ant-radio-button-wrapper {
  width: 60px;
  text-align: center;
  margin: 0 !important;
  border-radius: 6px !important;
  border: 1px solid #d9d9d9 !important;
}

/* 选中状态（solid风格） */
.category-nav .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: #1677ff !important;
  border-color: #1677ff !important;
  color: white !important;
}

/* hover */
.category-nav .ant-radio-button-wrapper:hover {
  color: #1677ff !important;
  border-color: #1677ff !important;
}
.category-nav .ant-radio-button-wrapper:not(:first-child)::before {
  display: none;
}

.ant-layout .ant-layout-header {
  height: 60px;
  line-height: 60px;
}